.lottary {
  width: 100%;

  font-size: 1vw;

  border: 5px solid #424649;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 1rem;
}
.info {
  font-size: 2vw;
  color: aqua;
}

.btn {
  font-size: 2vw;
}
.title {
  font-size: 2vw;
  align-self: center;
}
