.winner {
  padding: 2rem;
  width: 100%;
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  border: 5px solid #424649;
}
.winner p {
  align-self: center;
  color: red;
}
.btn {
  font-size: 2vw;
}
